<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
    <parameter name="browser" value="opera"/>
    <parameter name="title" value="gmail"/>
    <parameter name="uid" value=" "/>
    <parameter name="uidcriteria" value="blank"/>
    <parameter name="comment" value="uid is blank"/>
  <classes>
      <class name="com.gmail.TestCases.TestCase">
          <methods>
             <include name="mailLogintTest1"/>
             <exclude name="mailLogintTest2"/>
             <exclude name="mailLogintTest3"/>
             <exclude name="deleteUnreadMails"/>
          </methods>
      </class> 
   </classes>
  </test> <!-- Test -->
  
  <test name="Test2">
    <parameter name="browser" value="firefox"/>
    <parameter name="title" value="gmail"/>
    <parameter name="uid" value="moh.k"/>
    <parameter name="uidcriteria" value="invalid"/>
    <parameter name="comment" value="uid is invalid"/>
  <classes>
    <class name="com.gmail.TestCases.TestCase">
       <methods>
             <exclude name="mailLogintTest1"/>
             <include name="mailLogintTest2"/>
             <exclude name="mailLogintTest3"/>
             <exclude name="deleteUnreadMails"/>
       </methods>
    </class>
   </classes>
  </test> 
   <test name="Test3">
    <parameter name="browser" value="chrome"/>
    <parameter name="title" value="Gmail"/>
    <parameter name="uid" value="mohan.k.adari"/>
    <parameter name="pwd" value="kri@143"/>
    <parameter name="pwdcriteria" value="invalid"/>
    <parameter name="comment" value="pwd is invalid"/>
  <classes>
     <class name="com.gmail.TestCases.TestCase">
        <methods>
             <exclude name="mailLogintTest1"/>
             <exclude name="mailLogintTest2"/>
             <exclude name="mailLogintTest3"/>
             <exclude name="deleteUnreadMails"/>
       </methods>
     </class> 
   </classes>
  </test> 
<test name="Test4">
    <parameter name="browser" value="chrome"/>
    <parameter name="title" value="gmail"/>
    <parameter name="uid" value="mohan.k.adari"/>
    <parameter name="pwd" value="Krishna@143"/>
    <parameter name="pwdcriteria" value="valid"/>
    <parameter name="comment" value="pwd is valid"/>
    <parameter name="com" value="Delete mails"/>
    <classes>
     <class name="com.gmail.TestCases.TestCase">
        <methods>
             <exclude name="mailLogintTest1"/>
             <exclude name="mailLogintTest2"/>
             <exclude name="mailLogintTest3"/>
              <include name="deleteUnreadMails"/>
       </methods>
     </class> 
   </classes>
  </test> 
  
</suite> <!-- Suite -->
